* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background: #011126;
  font-family: var(--primary-font);
}
